@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    @apply bg-[#FAF9F7] text-[#2C1810] antialiased;
    overflow-x: hidden;
  }

  /* Luxury Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #FAF9F7;
  }
  ::-webkit-scrollbar-thumb {
    background: #2C181020;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #C6A3A2;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
